{{>head }}
<div class="container">
  <table class="table table-hover">
    <thead>
    <tr class="row">
      <th class="col">File</th>
      <th class="col"></th>
    </tr>
    </thead>

    <tbody>
    {{#list files}}
    {{/list}}
    </tbody>
  </table>
</div>
</div>
{{>footer }}
